<!DOCTYPE html>
<html>
<head>
    <title>Post List</title>
</head>
<body>
    <h1>Post List</h1>
    <ul>
        {% for post in current_page %}
            <li>{{ post.title }}</li>
        {% endfor %}
    </ul>

    <div>
        {% if page_number > 1 %}
            <a href="?page={{ page_number|add:-1 }}">Previous</a>
        {% endif %}
        <span>Page {{ page_number }} of {{ total_pages }}</span>
        {% if page_number < total_pages %}
            <a href="?page={{ page_number|add:1 }}">Next</a>
        {% endif %}
    </div>
</body>
</html>
